<%= render('layouts/errors', :object => @review) %>

<%= bootstrap_form_for [@listing, @review] do |f| %>
  <div class="form-group well">
      <%= f.text_area :review %>
      <br>
  <p>
    <%= f.submit class: "btn btn-success btn-block" %>
  </p>
</div>

<% end %>
